/*h1{
    color: red;
    background-color:wheat;

    text-align: center;
    border: 10px black solid;

    margin-bottom: 100px;

    padding-top: 20px;
    padding-bottom: 20px;
}*/

h1{
    color:black;
    border: 5px orange dotted; 
}

.title{
   background-color: wheat;
}

.title2{
    background-color:brown;
}

#important{
    color:whitesmoke;
}

#dateLabel{
    background-color:aquamarine;
}

body{
    background-color:darksalmon;
}

#hello{
    margin-left: 45%;
}

